<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Server=tcp:dbseguradora.database.windows.net,1433;Initial Catalog=ProjetoSeguradora;Persist Security Info=False;User ID=seguradora;Password=Senha@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>